body {
  margin: 0 auto;
  width: 100%;
  background: #1c2431;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 14px; }

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  nav .logo {
    align-self: flex-start;
    padding: 30px;
    width: auto;
    height: auto; }
  nav ul {
    list-style-type: none; }
  nav li {
    display: inline-block;
    padding: 30px 30px 0px 20px; }

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: 700; }

h2 {
  font-weight: 700; }

p {
  line-height: 1.25rem; }

.button {
  background: linear-gradient(to right, #65e2d9, #339ecc);
  border-radius: 25px;
  padding: 15px;
  width: 15%;
  color: white;
  text-decoration: none; }

.button:hover {
  background: linear-gradient(to right, #339ecc, #65e2d9);
  color: white; }

a {
  text-decoration: none;
  color: white; }

a:hover {
  color: #65e2d9; }

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-image: url("../images/bg-curvy-desktop.svg");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 105%;
  padding-bottom: 125px;
  text-align: center; }
  header img {
    width: 45%;
    padding-bottom: 25px; }
  header h1 {
    width: 30%;
    line-height: 1.50em;
    font-size: 1.60rem; }
  header p {
    width: 30%;
    line-height: 1.50em;
    padding-bottom: 10px;
    margin-top: -5px; }

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #181f2a; }
  .container1 .box1 {
    width: 25%;
    height: 25%;
    padding-right: 50px;
    padding-left: 50px;
    text-align: center; }
    .container1 .box1 img {
      margin: 0 auto; }
    .container1 .box1 p {
      padding-bottom: 50px; }

.container2 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  background-color: #181f2a; }
  .container2 .box2 {
    align-self: center;
    width: 35%;
    height: 100%;
    padding: 0px 20px 75px 50px; }
    .container2 .box2 img {
      width: 100%; }
    .container2 .box2 img.override {
      width: auto;
      height: auto; }
    .container2 .box2 h1 {
      text-align: left;
      font-size: 2.75rem;
      line-height: 3.25rem;
      padding-top: 30px; }
    .container2 .box2 a {
      color: #65e2d9;
      text-decoration: none; }
    .container2 .box2 a:hover {
      border-bottom: 1px solid #65e2d9; }

.container3 {
  width: 100%;
  padding: 50px 0px 150px 0px;
  background-color: #181f2a;
  background-image: url("../images/bg-quotes.png");
  background-position: 85px 15px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  .container3 .box3 {
    align-self: center;
    background-color: #202a3c;
    border-radius: 5px;
    width: 21%;
    padding: 25px;
    box-shadow: 0px 4px 10px #1c2431; }
    .container3 .box3 img {
      float: left;
      border-radius: 50px;
      width: 15%;
      height: 15%;
      margin-right: 15px; }
    .container3 .box3 p {
      padding-bottom: 15px; }
    .container3 .box3 .company {
      font-size: .75rem;
      line-height: .25rem; }

.container4 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #181f2a;
  width: 100%; }
  .container4 .box4 {
    align-self: center;
    border-radius: 10px;
    width: 55%;
    padding: 40px;
    background-color: #1c2431;
    box-shadow: 0px 4px 10px black; }
  .container4 form {
    display: inline-flex;
    position: relative;
    padding-top: 20px;
    width: 90%; }
    .container4 form input[type=email] {
      border: none;
      border-radius: 2em;
      padding: 15px;
      width: 70%; }
    .container4 form input[type=email]:focus {
      outline: none; }
    .container4 form input[type=email]:invalid {
      border: 1px solid red; }
    .container4 form input[type=submit] {
      width: 20%;
      margin-left: 20px;
      border: none; }

footer {
  background-color: #0b1523;
  margin-top: -10%; }
  footer img {
    padding-right: 10px; }
  footer .content {
    padding-top: 15%; }
  footer .footer-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    line-height: 2.50rem;
    padding-bottom: 5%; }
    footer .footer-content .box5 {
      align-self: flex-start;
      width: 2fr 1fr; }
      footer .footer-content .box5 p {
        line-height: .50rem; }
      footer .footer-content .box5 i {
        padding-right: 10px; }
  footer .attribution {
    padding-top: 20px;
    text-align: center;
    background-color: #1c2431; }

@media only screen and (max-width: 700px) {
  nav li {
    display: inline-block;
    padding: 20px 20px 0px 10px; }
  nav .logo {
    width: 25%;
    height: 25%; }

  .button {
    width: 45%; }

  header {
    background-position: 50% 75%;
    background-size: 190%; }
    header img {
      width: 90%; }
    header h1 {
      width: 90%; }
    header p {
      width: 60%;
      background-color: #181f2a; }

  .container1 {
    flex-direction: column;
    margin-top: -120px;
    padding-top: 120px; }
    .container1 .box1 {
      width: 65%;
      align-self: center; }

  .container2 {
    flex-direction: column;
    padding-top: 80px; }
    .container2 .box2 {
      width: 75%; }
      .container2 .box2 h1 {
        font-size: 1.35rem;
        line-height: 2.25rem; }

  .container3 {
    flex-direction: column;
    background-position: 50px 15px; }
    .container3 .box3 {
      width: 75%;
      margin-bottom: 40px; }
      .container3 .box3 img {
        width: 10%;
        height: 10%; }
      .container3 .box3 .company {
        line-height: .05rem; }

  .container4 .box4 {
    width: 75%; }
  .container4 form {
    display: block; }
    .container4 form input[type=email] {
      width: 100%;
      margin-bottom: 20px; }
    .container4 form input[type=submit] {
      width: 109%;
      margin-left: 0px; }

  footer {
    margin-top: -35%; }
    footer .content {
      padding-top: 50%; }
    footer .footer-content {
      flex-direction: column;
      padding-left: 50px; }
      footer .footer-content .box5 {
        padding-bottom: 20px; }
      footer .footer-content .socials {
        margin: 0 auto; } }

/*# sourceMappingURL=style.css.map */
